.Animation {
  font-size: 24px;
  display: flex;
  flex-direction: row;
}

.Animation .circle {
  flex-grow: 1;
  font-size: 14px;
  justify-content: center;
}

.Animation .toggleAnimation {
  flex-grow: 1;
  /* width: 50%; */
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Animation .RadiumAnimation {
  flex-grow: 1;
  /* width: 50%; */
  color: darkcyan;
}
.Animation .transition {
  color: white;
  padding-bottom: 10px;
  transition: all 2s ease-in 0s;
}

.Animation .transition.show {
  padding-bottom: 100px;
  background: yellowgreen;
}
