.Home {
  margin: 0 auto;
  width: 100%;
}

.Home .welcome {
  font-size: 32px;
  color: deeppink;
}

.Home .time {
  color: blueviolet;
  font-size: 20px;
}
.Home h4 {
  color: dodgerblue;
}

.Home p {
  text-align: center;
  color: teal;
}

.Home a {
  /* remove underline */
  text-decoration: none;
  color: #56d5fa;
}

.Home a:hover {
  color: white;
  background-color: deeppink;
}

.clock {
  background-color: #56d5fa;
}
