.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: white;
  margin-bottom: 100px;

  /* background-color: darkcyan; */
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-header a {
  color: aliceblue;
  font-size: 24 px;
}
.App-header a:hover {
  color: white;
  background-color: deeppink;
}

.App-header ul {
  list-style: none;
  margin: 0 10px 0 -40px;
}
.App-header ul li {
  display: inline-block;
  padding: 0 10px;
}

.App-Title {
  font-size: 1.5em;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-footer {
  color: white;
  height: 200px;
  text-align: center;
  background: #ad5389; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #3c1053,
    #ad5389
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #3c1053,
    #ad5389
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-content {
  font-size: 20px;
  margin: 100px;
  padding: 80px;
}
