.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: darkcyan;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 100px;
}

.App-header a {
  color: aliceblue;
  font-size: 24 px;
}
.App-header a:hover {
  color: white;
  background-color: deeppink;
}

.App-header ul {
  list-style: none;
  margin: 0 10px 0 -40px;
}
.App-header ul li {
  display: inline-block;
  padding: 0 10px;
}

.App-Title {
  font-size: 1.5em;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-footer {
  color: white;
  background: rgb(58, 47, 123);
  height: 200px;
  text-align: center;
}

.footer-content {
  font-size: 20px;
  margin: 100px;
  padding: 80px;
}
